.card-container {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
  text-align: center;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.item-description {
  font-size: 1rem;
  margin-bottom: 10px;
  color: white;
}


.item-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.btn-order {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-addToCart:hover {
  background-color: #e53935;
}
