.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.item-image {
  width: 120px;
  height: 90px;
}
.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-modal-content {
  height: 50%;
  width: 50%;
  background-color: white;
}
